{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <section class="panel panel-border panel-purple">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-border panel-custom" style="background: #ebeff2">
                <header class="panel-heading">
                    <h1 class="panel-title">LES PARAMETRES DE MON COMPTE</h1>
                </header>
                <div class="panel-body">
                    <p>{{ 'profile.show.username'|trans }}: <strong>{{ user.username  }}</strong></p>
                    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                </div>
                <div class="panel-heading">
                    <a class="btn btn-primary btn-custom waves-effect waves-light pull-left" href="{{path('profil_edit', {'id': user.id })}}">Modifier mon profil</a>
                    <a class="btn btn-inverse btn-custom waves-effect waves-light pull-right" href="{{path('fos_user_change_password')}}">Modifier mon mot de passe</a>
                </div>
            </div>
        </div>
    </section>
</div>

<script>

    function getQueryVariable(variable)
    {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return(false);
    }
    var modif = getQueryVariable('modif');
    if (modif) {
        alert("Modification éffectuée avec succès. \n\nCliquez sur 'Ok' pour terminer.");
    }
</script>
