<!DOCTYPE html>
<html>
    {% block fos_user_content %}
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="FUFos, Gestion complète des utilisateurs avec FosUserBundle et OAuthBunlde basé sur Symfony 3.3">
            <meta name="author" content="GreenSoft-Group">

            <link rel="shortcut icon" href="assets/images/favicon_1.ico">
            {% block title %}
                <title>FullUserFOS</title>
            {% endblock %}

            <link rel="stylesheet" href="{{asset('assets/plugins/morris/morris.css')}}">
            <link rel="stylesheet" href="{{asset('assets/plugins/custombox/css/custombox.css')}}">

            <link href="{{asset('assets/plugins/summernote/summernote.css')}}" rel="stylesheet" />
            <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('assets/css/core.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('assets/css/components.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('assets/css/icons.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('assets/css/pages.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('assets/css/responsive.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('assets/css/styleTag.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('assets/plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('assets/plugins/datatables/fixedHeader.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('assets/plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('assets/plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('assets/plugins/datatables/dataTables.colVis.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('assets/plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('assets/plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('assets/plugins/datatables/fixedColumns.dataTables.min.css')}}" rel="stylesheet" type="text/css">

            <script src="{{asset('assets/js/modernizr.min.js')}}"></script>
            <script src="{{asset('assets/js/jquery.min.js')}}"></script>
            <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>

        </head>
        <body class="fixed-left" style="font-size: 14px;">


            <!-- Begin page -->
            <div id="wrapper">

                <!-- Top Bar Start -->
                <div class="topbar">

                    <!-- LOGO -->
                    <div class="topbar-left">
                        <div class="text-center">
                            <a style="font-size: 35px;
                               font-family: SHSN; 
                               font-stretch:100%;
                               font-style:normal;
                               text-transform: none;
                               font-variant-caps:normal;
                               " href="{{path('homepage')}}" class="logo"><i class="icon-magnet icon-c-logo"></i><span style="color: #7e57c2;">FUFos</span></a>
                            <!-- Image Logo here -->
                            <!--<a href="index.html" class="logo">-->
                            <!--<i class="icon-c-logo"> <img src="assets/images/logo_sm.png" height="42"/> </i>-->
                            <!--<span><img src="assets/images/logo_light.png" height="20"/></span>-->
                            <!--</a>-->
                        </div>
                    </div>

                    <!-- Button mobile view to collapse sidebar menu -->
                    <div class="navbar navbar-default" role="navigation">
                        <div class="container">
                            <div class="">
                                <div class="pull-left">

                                    <button class="button-menu-mobile open-left waves-effect waves-light">
                                        <i class="md md-menu"></i>
                                    </button>

                                    <span class="clearfix"></span>
                                </div>

                                <ul class="nav navbar-nav hidden-xs">

                                    <li><a href="#" class="waves-effect waves-light">
                                            <h3 style="color: white;
                                                font-stretch:100%;
                                                font-style:normal;
                                                font-family: SHSN;
                                                font-variant-caps:normal;
                                                ">Gestion complète des utilisateurs avec Symfony 3.3
                                            </h3></a></li>

                                    {#
                                     <li class="dropdown">
                                         <a href="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown"
                                            role="button" aria-haspopup="true" aria-expanded="false"> <span
                                                 class="caret"></span></a>
                                         <ul class="dropdown-menu">
                                             <li><a href="#">Action</a></li>
                                             <li><a href="#">Another action</a></li>
                                             <li><a href="#">Something else here</a></li>
                                             <li><a href="#">Separated link</a></li>
                                         </ul>
                                     </li>
                                    #}
                                </ul>

                                <form role="search" class="navbar-left app-search pull-left hidden-xs">

                                </form>


                                <ul class="nav navbar-nav navbar-right pull-right">
                                    <li class="dropdown top-menu-item-xs">
                                        {#
                                        ici sera affiché les notifications
                                        
                                        <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                            <i class="icon-bell"></i> <span class="badge badge-xs badge-danger">3</span>
                                        </a>
                                        
                                        <ul class="dropdown-menu dropdown-menu-lg">
                                            <li class="notifi-title"><span class="label label-default pull-right">New 3</span>Notification</li>
                                            <li class="list-group slimscroll-noti notification-list">
                                                <!-- list item-->
                                                <a href="javascript:void(0);" class="list-group-item">
                                                    <div class="media">
                                                        <div class="pull-left p-r-10">
                                                            <em class="fa fa-diamond noti-primary"></em>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="media-heading">A new order has been placed A new order has been placed</h5>
                                                            <p class="m-0">
                                                                <small>There are new settings available</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
    
                                                <!-- list item-->
                                                <a href="javascript:void(0);" class="list-group-item">
                                                    <div class="media">
                                                        <div class="pull-left p-r-10">
                                                            <em class="fa fa-cog noti-warning"></em>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="media-heading">New settings</h5>
                                                            <p class="m-0">
                                                                <small>There are new settings available</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
    
                                                <!-- list item-->
                                                <a href="javascript:void(0);" class="list-group-item">
                                                    <div class="media">
                                                        <div class="pull-left p-r-10">
                                                            <em class="fa fa-bell-o noti-custom"></em>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="media-heading">Updates</h5>
                                                            <p class="m-0">
                                                                <small>There are <span class="text-primary font-600">2</span> new updates available</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
    
                                                <!-- list item-->
                                                <a href="javascript:void(0);" class="list-group-item">
                                                    <div class="media">
                                                        <div class="pull-left p-r-10">
                                                            <em class="fa fa-user-plus noti-pink"></em>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="media-heading">New user registered</h5>
                                                            <p class="m-0">
                                                                <small>You have 10 unread messages</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
    
                                                <!-- list item-->
                                                <a href="javascript:void(0);" class="list-group-item">
                                                    <div class="media">
                                                        <div class="pull-left p-r-10">
                                                            <em class="fa fa-diamond noti-primary"></em>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="media-heading">A new order has been placed A new order has been placed</h5>
                                                            <p class="m-0">
                                                                <small>There are new settings available</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
    
                                                <!-- list item-->
                                                <a href="javascript:void(0);" class="list-group-item">
                                                    <div class="media">
                                                        <div class="pull-left p-r-10">
                                                            <em class="fa fa-cog noti-warning"></em>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="media-heading">New settings</h5>
                                                            <p class="m-0">
                                                                <small>There are new settings available</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="list-group-item text-right">
                                                    <small class="font-600">See all notifications</small>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    #}
                                        {#
                                       <li class="hidden-xs">
                                           <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a>
                                       </li>
                                       #}
                                    <li class="hidden-xs">
                                        {# <a href="#" class="right-bar-toggle waves-effect waves-light"><i class="icon-settings"></i></a> #}
                                    </li>
                                    <li class="dropdown top-menu-item-xs">
                                        <a href="" style="font-size: 16px; font-family: ubuntu;" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                <span style="color: #3b97d3">{{ app.user.nom }}</span>
                                            {% endif %} 
                                            <img src="{{asset('assets/images/users/profil.png')}}" alt="user-img" class="img-circle"> 
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a title="Cliquez pour modifier mos informations" href="{{path('fos_user_profile_show')}}"><i class="glyphicon glyphicon-user m-r-10 text-custom"></i> 
                                                    Profil
                                                </a></li>
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                    {% if app.user.level is not null %}
                                                        {% if ( app.user.level.rightToken == "ROLE_ADMIN" )  %}
                                                        <li>
                                                            <a href="{{path('utilisateur_index')}}"><i class="fa fa-cog m-r-10 text-danger"></i> Administration</a>
                                                        </li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                                <li><a href="{{path('fos_user_security_logout')}}"><i class="glyphicon glyphicon-off m-r-10 text-danger"></i> Déconnecter</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!--/.nav-collapse -->
                            </div>
                        </div>
                    </div>
                    <!-- Top Bar End -->


                    <!-- ========== Left Sidebar Start ========== -->

                    <div class="left side-menu purple" style="background: #2b0b3d; font-size: 16px;">

                        <div class="sidebar-inner slimscrollleft">
                            <!--- Divider -->
                            <div id="sidebar-menu">
                                <ul>
                                    <li style="font-size: 14px;" class="text-muted menu-title text-bold"><i class=" text-bold fa fa-dashboard"></i> <span class="text-center"><b style="color: lightblue">TABLEAU DE BORD</b></span></li>

                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <center>Votre menu</center>
                                        {% endif %}
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <!-- Left Sidebar End -->



                    <!-- ============================================================== -->
                    <!-- Start right Content here -->
                    <!-- ============================================================== -->
                    <div class="content-page" style="">
                        <!-- Start content -->
                        <div class="content">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    <center>{{ message }}</center>
                                </div>
                            {% endfor %}
                            {% block body %}
                                {% block content -%}
                                    <div class="container">


                                    </div> <!-- container -->
                                {% endblock %}
                            {% endblock %}
                        </div> <!-- content -->

                        <footer class="footer text-right" style="margin-top: 12px;">
                            © 2018. <a href="http://www.greensoft-group.com/" target="blank"><b>GreenSoft-Group Technologies</b></a>, Tous droits réservés.
                        </footer>

                    </div>


                    <!-- ============================================================== -->
                    <!-- End Right content here -->
                    <!-- ============================================================== -->


                    <!-- Right Sidebar -->
                    <div class="side-bar right-bar nicescroll">

                        {# chat #}
                    </div>
                    <!-- /Right-bar -->

                </div>
                <!-- END wrapper -->



                <script>
                    var resizefunc = [];
                </script>

                <!-- jQuery  -->
                <!-- jQuery  -->

                <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
                <script src="{{asset('assets/js/detect.js')}}"></script>
                <script src="{{asset('assets/js/fastclick.js')}}"></script>

                <script src="{{asset('assets/js/jquery.slimscroll.js')}}"></script>
                <script src="{{asset('assets/js/jquery.blockUI.js')}}"></script>
                <script src="{{asset('assets/js/waves.js')}}"></script>
                <script src="{{asset('assets/js/wow.min.js')}}"></script>
                <script src="{{asset('assets/js/jquery.nicescroll.js')}}"></script>
                <script src="{{asset('assets/js/jquery.scrollTo.min.js')}}"></script>

                <script src="{{asset('assets/plugins/peity/jquery.peity.min.js')}}"></script>

                <!-- jQuery  -->
                <script src="{{asset('assets/plugins/waypoints/lib/jquery.waypoints.js')}}"></script>
                <script src="{{asset('assets/plugins/counterup/jquery.counterup.min.js')}}"></script>

                <script src="{{asset('assets/plugins/jquery-knob/jquery.knob.js')}}"></script>


                <script src="{{asset('assets/js/jquery.core.js')}}"></script>
                <script src="{{asset('assets/js/jquery.app.js')}}"></script>

                <script src="{{asset('assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/dataTables.bootstrap.js')}}"></script>

                <script src="{{asset('assets/plugins/datatables/dataTables.buttons.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/buttons.bootstrap.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/jszip.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/pdfmake.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/vfs_fonts.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/buttons.html5.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/buttons.print.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/dataTables.keyTable.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/dataTables.responsive.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/responsive.bootstrap.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/dataTables.scroller.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/dataTables.colVis.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/dataTables.fixedColumns.min.js')}}"></script>

                <script src="{{asset('assets/pages/datatables.init.js')}}"></script>
                <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>


                <script src="{{asset('assets/plugins/custombox/js/custombox.min.js')}}"></script>
                <script src="{{asset('assets/plugins/custombox/js/legacy.min.js')}}"></script>

                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        $('.counter').counterUp({
                            delay: 100,
                            time: 1200
                        });

                        $(".knob").knob();

                    });

                    //Chargement de datatable
                    $(document).ready(function () {
                        $('#datatable').DataTable({
                            "language": {
                                "url": "{{asset('assets/French.json')}}",
                                buttons: {
                                    copy: 'Copier',
                                    print: 'Imprimer',
                                    copyTitle: 'Ajouté au presse-papiers',
                                    copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                                    copySuccess: {
                                        _: '%d lignes copiées',
                                        1: '1 ligne copiée'
                                    }
                                }
                            },
                            dom: 'Bfrtip',
                            buttons: [
                                'copy', 'excel', 'pdf', 'csv', 'print'
                            ],
                        });
                    });
                </script>

            </body>
            {% endblock fos_user_content %}
            </html>