{% trans_default_domain 'FOSUserBundle' %}


<head>
    <title>Création de compte!</title>
    <script src="{{asset('assets/js/jquery.min.js')}}"></script>
    <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

    <link href="{{asset('assets/css/components.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('assets/css/icons.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('assets/css/pages.css')}}" rel="stylesheet" type="text/css" />

    <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>

</head>
<body style="background: #303030 fixed">

    <div class="col-md-8 col-md-offset-2" style="background: rgba(2, 5, 25, 0.46)">

        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-signin', 
    'style': '
    padding: 40px;
    color: rgba(204, 204, 204, 0.42);'}}) }}
        <div class="form-signin-heading text-center">
            <h2 class="text-center" style="
                color:#7676e0; 
                font-family: SHSN; 
                font-size: 62px;
                font-stretch:100%;
                font-style:normal;
                font-variant-caps:normal;
                "><b>FullUserFOS</b></h2>
            <hr>
            <h3 class="sign-title" style="color: grey">Création de votre compte utilisateur</h3>
            <hr class="col-md-offset-4 col-md-4">
        </div>

        <div class="login-wrap col-md-12" style="input{ margin-top: 12%}">
            {# <p>Informations personnelles</p> #}
            {#
            {{ form_widget(form) }}
            #}

            <div class="col-md-6" style="color: lightgreen">

                {{ form_errors(form) }}

                {{ form_label(form.nom, "Votre nom") }}
                {{ form_widget(form.nom, {'attr':{'class':'form-control', 'style': 'background: transparent; color: white;margin-bottom: 35px;'}}) }}

                {{ form_label(form.username, "Login (Il sera utilisé pour vous connecter)") }}
                {{ form_widget(form.username, {'attr':{'class':'form-control', 'style': 'background: transparent; color: white;margin-bottom: 35px;'}}) }}

                {{ form_label(form.sexe, "Sexe") }}
                {{ form_widget(form.sexe, {'attr':{'style': 'background: transparent; color: white;margin-bottom: 42px;;'}}) }}

                {{ form_label(form.email, "Votre email") }}
                {{ form_widget(form.email, {'attr':{'class':'form-control', 'style': 'background: transparent; color: white;margin-bottom: 35px;'}}) }}

                {{ form_label(form.plainPassword.first, "Votre mot de passe") }}
                {{ form_widget(form.plainPassword.first, {'attr':{'class': 'form-control', 'style': 'background: transparent; color: white;margin-bottom: 35px;', 'placeholder': 'Ex: junior'}}) }}
                {{ form_errors(form.plainPassword.first) }}

            </div>
            <div class="col-md-6" style="color: lightgreen">
                {{ form_label(form.cni, "Numéro de CNI/Passport") }}
                {{ form_widget(form.cni, {'attr':{'class':'form-control', 'style': 'background: transparent; color: white;margin-bottom: 35px;'}}) }}

                {{ form_label(form.telephone, "Votre téléphone") }}
                {{ form_widget(form.telephone, {'attr':{'class':'form-control', 'data-mask':'(+999) 999-99-99-99', 'placeholder': '(+...) ..-..-..-..', 'required': 'required', 'style': 'background: transparent; color: white;margin-bottom: 35px;'}}) }}

                {{ form_label(form.adresse, "Votre adresse") }}
                {{ form_widget(form.adresse, {'attr':{'class':'form-control', 'style': 'background: transparent; color: white;margin-bottom: 35px;'}}) }}

                {{ form_label(form.level, "Type d'utilisateur") }}
                {{ form_widget(form.level, {'attr':{'class':'form-control', 'style': 'background: rgb(71, 51, 39); color: white;margin-bottom: 35px;'}}) }}

                {{ form_label(form.plainPassword.second, "Verification du mot de passe") }}
                {{ form_widget(form.plainPassword.second, {'attr':{'class': 'form-control', 'style': 'background: transparent; color: white;margin-bottom: 35px;', 'style': 'background: transparent; color: white;margin-bottom: 35px;'}}) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
            <br>
            <div class="col-md-12">
                <button type="submit" class="btn btn-custom btn-primary btn-block" value="" 
                        style="width: 23%;
                        margin-left: 39%;"><span class="glyphicon glyphicon-ok-sign"></span> {{ 'registration.submit'|trans }}</button>
                <br>
                <center>Utilisez vos compte habituel pour créer votre compte</center>
                <br>
                <div class="col-md-12">
                    <a style="text-decoration: none; color: white; font-weight: bold;" class="col-md-2 btn btn-social btn-success">
                        <span class="fa fa-twitter"></span> Twitter
                    </a>
                    <a style="text-decoration: none;color: white; font-weight: bold;" class="col-md-2 col-md-offset-3 btn btn-social btn-danger">
                        <span class="fa fa-google-plus"></span> Google
                    </a>
                    <a style="text-decoration: none;color: white; font-weight: bold" class="col-md-2 col-md-offset-3 btn btn-social btn-info">
                        <span class="fa fa-facebook"></span> Facebook
                    </a>
                </div>
                <hr class="col-md-4 col-md-offset-4">
                <div class="col-md-12">
                    Déjà enregistré(e).
                    <a href="{{path('fos_user_security_login')}}" class="pull-right btn btn-link">
                        Se Connecter
                    </a>
                </div>
            </div>

        </div>

        {{ form_end(form) }}

        <script>

            document.getElementById('fos_user_registration_form_sexe_1').style.marginLeft = '40px';

            document.getElementById('fos_user_registration_form_sexe_0').style.marginRight = '8px';
            document.getElementById('fos_user_registration_form_sexe_0').style.cursor = 'pointer';

            document.getElementById('fos_user_registration_form_sexe_1').style.marginRight = '8px';
            document.getElementById('fos_user_registration_form_sexe_1').style.cursor = 'pointer';
        </script>
        <script src="{{asset('assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('assets/plugins/autoNumeric/autoNumeric.js')}}" type="text/javascript"></script>
    </div>
</body>
