{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-border panel-custom" style="background: #ebeff2">
                <header class="panel-heading text-center"><meta http-equiv="Content-Type" content="text/html; charset=gb18030">
                    <h2>Modification  des informations sur l'utilisateur </h2>
                    <h4 class="col-md-10 col-md-offset-1">Nom de l'utilisateur: <b>{{utilisateur.nom}}</b></h4> 
                </header>
                <hr>
                {% if true %}
                    <div class="panel-body">
                        {{ form_start(edit_form) }}
                        <div class="row">
                            <div class="col-md-6">   
                                <div class="form-group">
                                    {{ form_label(edit_form.nom) }}
                                    {{ form_widget(edit_form.nom,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(edit_form.sexe) }}
                                    {{ form_widget(edit_form.sexe,{'attr':{'class':''}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">  
                                <div class="form-group">
                                    {{ form_label(edit_form.email) }}
                                    {{ form_widget(edit_form.email,{'attr':{'class':'form-control'}}) }}
                                    <span style="color: red">{{ form_errors(edit_form.email) }}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(edit_form.telephone) }}
                                    {{ form_widget(edit_form.telephone,{'attr':{'class':'form-control', 'data-mask':'(+999) 999-99-99-99', 'placeholder': '(+033) 679-63-15-80', 'required': 'required'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">  
                                <div class="form-group">
                                    {{ form_label(edit_form.cni) }}
                                    {{ form_widget(edit_form.cni,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(edit_form.adresse) }}
                                    {{ form_widget(edit_form.adresse,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">  
                                <div class="form-group">
                                    {{ form_label(edit_form.username, "Nom d'utilisateur (Il sera utlise pour vous connecter)") }}
                                    {{ form_widget(edit_form.username,{'attr':{'class':'form-control'}}) }}
                                    <span style="color: red">{{ form_errors(edit_form.username) }}</span>
                                </div>
                            </div>
                            {% if app.user.level == 'Administrateur'%} 
                                <div class="col-md-6">  
                                    <div class="form-group">
                                        {{ form_label(edit_form.level, "Rôle de l'utilisateur") }}
                                        {{ form_widget(edit_form.level,{'attr':{'class':'form-control btn dropdown-toggle btn-default btn-custom'}}) }}
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        <table class="pull-right">
                            <tr>
                                <td>
                                    <input class="btn btn-custom btn-primary" type="submit" value="Modifier" />
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                {% if  app.user.level == 'Administrateur' %}
                                    <td>
                                        <a class="btn btn-custom btn-default" href="{{ path('utilisateur_index') }}">
                                            Retour à la liste
                                        </a>
                                    </td>
                                {% else %}
                                    <td>
                                        <a class="btn btn-custom btn-default" href="{{ path('homepage') }}">
                                            Retour à l'accueil
                                        </a>
                                    </td>
                                {% endif %}
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                        {{ form_end(edit_form) }}

                    </div>
                {% else%}
                    <div class="panel-body">
                        {{ form_start(edit_form) }}

                        <div class="row">
                            <div class="col-md-4 col-md-offset-3">  
                                <div class="form-group">
                                    {{ form_label(edit_form.level, "Rôle de l'utilisateur") }}
                                    {{ form_widget(edit_form.level,{'attr':{'class':'form-control btn dropdown-toggle btn-default btn-custom'}}) }}
                                    <br>
                                    <br>
                                    {{ form_label(edit_form.entreprise) }}
                                    {{ form_widget(edit_form.entreprise,{'attr':{'class':'form-control btn dropdown-toggle btn-inverse btn-custom'}}) }}
                                </div>
                            </div>
                        </div>
                        <table class="col-md-4 col-md-offset-3">
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input class="btn btn-custom btn-primary" type="submit" value="Modifier" />
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><a class="btn btn-custom btn-default" href="{{ path('utilisateur_index') }}">Retour à la liste
                                    </a>
                                </td>
                            </tr>
                        </table>
                        {{ form_end(edit_form) }}

                    </div>
                {% endif %}

            </div>
        </div>
    </div>
    <script>
        //document.getElementById('userbundle_utilisateur_telephone').type = 'number';

        document.getElementById('userbundle_utilisateur_sexe_1').style.marginLeft = '40px';

        document.getElementById('userbundle_utilisateur_sexe_0').style.marginRight = '8px';
        document.getElementById('userbundle_utilisateur_sexe_0').style.cursor = 'pointer';

        document.getElementById('userbundle_utilisateur_sexe_1').style.marginRight = '8px';
        document.getElementById('userbundle_utilisateur_sexe_1').style.cursor = 'pointer';
    </script>
    <script src="{{asset('assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('assets/plugins/autoNumeric/autoNumeric.js')}}" type="text/javascript"></script>
{% endblock %}
