{# utilisateur #}

{% extends 'base.html.twig' %}
{% block title %}
    {{parent()}} Gestion des utilisateurs
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    <center>{{ message }}</center>
                </div>
            {% endfor %}
            <section class="panel panel-border panel-inverse">
                <header class="">
                    <h3 class="text-center" style="color: white; background: #7e57c2;"><b>Liste des comptes utilisateurs </b></h3>
                    <a style="margin-right: 2%" class="btn btn-primary btn-custom waves-effect waves-light pull-right" href="{{path('enseignant_register')}}">Ajouter un utilisateur</a>
                    <br>
                    <br>
                </header>
                <div class="panel-body col-md-12">
                    <div class="adv-table">
                        <table   class="table table-hover panel panel-inverse table-bordered table-responsive table-striped" id="datatable">
                            <thead class="panel-heading">
                                <tr>
                                    <th class="" style="color: blue; font-weight: unset;">Nom complet</th>
                                    <th class="" style="color: blue; font-weight: unset;">Téléphone</th>
                                    <th class="" style="color: blue; font-weight: unset;">Rôle</th>
                                    <th class="" style="color: blue; font-weight: unset;">Email</th>
                                    <th class="" style="color: blue; font-weight: unset;">Act. / Désact.</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for utilisateur in utilisateurs %}
                                    <tr>

                                        <td>
                                            <span style="color: #2b0b3d"><b>{{ utilisateur.nom |upper }}</b></span>
                                                    {% if app.user.username != utilisateur.username %}
                                                <span class="input-group pull-right">
                                                    <button  class="btn btn-purple dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                        <span class="fa fa-caret-down"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a <a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}"><i class="fa fa-eye"></i> Voir Utilisateur</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}"><i class="fa fa-edit"></i> Editer Utilisateur</a>
                                                        </li>
                                                        {#
                                                        <li>
                                                            <a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}"><i class="fa fa-trash"></i> Supprimer Utilisateur</a>
                                                        </li>
                                                        #}
                                                    </ul>
                                                </span>
                                            {% endif %}
                                        </td>
                                        <td>{{ utilisateur.telephone }}</td>
                                        <td><span style="color: #2b0b3d">{{ utilisateur.level }}</span></td>
                                        <td>{{ utilisateur.email }}</td>
                                        <td>
                                            {% if app.user.username == utilisateur.username %}
                                                <span class="label label-success">Utilisateur Connecté</span>                        

                                            {% else %}
                                                {% if utilisateur.enabled %}
                                                    <a href="{{ path('utilisateur_disable', { 'id': utilisateur.id }) }}" class="btn btn-danger btn-custom waves-effect waves-lightr" > Désactiver
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path('utilisateur_enable', { 'id': utilisateur.id }) }}" class="btn btn-purple btn-custom waves-effect waves-light">Activer</a>
                                                {% endif %}
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <script>
        </script>
    </div>

{% endblock %}

