{% trans_default_domain 'FOSUserBundle' %}

<!-- <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form> -->

<body>

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-md-offset-3" style="margin-top: 100px; background: rgba(43, 11, 61, 0.33);">
        <div class="wrapper-page">
            <div class=" card-box">
                <div class="panel-heading">
                    <h2 class="text-center" style="
                        text-transform: capitalize;
                        color:#7676e0; 
                        font-family: SHSN; 
                        font-size: 62px;
                        font-stretch:100%;
                        font-style:normal;
                        font-variant-caps:normal;
                        "><b>FullUserFOS</b></h2>
                </div>

                <div class="panel-body">
                    <form action="{{ path('fos_user_resetting_send_email') }}" class="text-bold" role="form" method="POST" class="fos_user_resetting_request">
                        <div style="color: black" class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                ×
                            </button>
                            <span style="text-align: center; font-weight: bold">Vous avez oublié votre mot de passe? pas de panique!</span>
                            <br>
                            Demande de changement de mot de passe.
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-md-12">
                                    <!-- <label for="username">{{ 'resetting.request.username'|trans }}</label> -->
                                <label style="color: white; ">Nom d'utilisateur ou email</label>
                                <input style="color: black" placeholder="Nom utilisateur ou email" class="form-control" type="text" id="username" name="username" required="required" />
                                <br>
                                <a class="btn btn-danger btn-default" href="{{path('homepage')}}">Annuler</a>
                                <button type="submit" class="btn btn-custom btn-primary pull-right">
                                    Valider
                                </button> 
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>



    <script>
        var resizefunc = [];
    </script>

</body>